/* fuchsia.css */

body {
    font-family: Inter, 'Helvetica Neue', Lucida Grande, sans-serif;
}
 
label, input[type="button"], input[type="submit"], input[type="image"], button { 
    cursor: pointer; 
}

.title {
	font-size: 150%;
	color: #fff;
	background-color: #939;
	font-weight: bold;
	padding: 0px 5px;
	margin: 0px 10px 0 0;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);	
}

#buttons button {
    margin: 0 5px 0 0;
}

button:hover {
    background-color: yellow;
}

.note {
	font-family: Inter, Helvetica Neue, Helvetica, Trebuchet MS, sans-serif;
	font-size: 80%;
    /* background-color: #ff6; */
    height: 125px;
    width: 150px;
    padding: 10px;
    position: absolute;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.edit {
    height: 120px;
    width: 150px;
    overflow: auto;
}

.note:hover .closebutton,
.note:hover .colourButton {
    display: block;
}
 
.closebutton {
    display: none;
    background-image: url(../images/deleteButton.png);
    height: 30px;
    position: absolute;
    left: -15px;
    top: -15px;
    width: 30px;
}
 
.closebutton:active {
    background-image: url(../images/deleteButtonPressed.png);
}

.colourButton {
    display: none;
    font-size: 7pt;
    text-align: center;
	height: 20px;
	width: 20px;
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.edit {
    outline: none;
}
 
.timestamp {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-size: 9px;
    background-color: #db0;
    color: white;
    border-top: 1px solid #a80;
    padding: 2px 4px;
    text-align: right;
}

/* button {
	font-size: 90%;
	color: #999;	
	border: 1px solid #999;
	background-color: #f8f8f8;
	padding: 2px 5px;
	margin: 2px 5px;
}

button:hover {
	cursor: pointer;
	color: #fff;
	background-color: #c06;
	background-image: none;
} */

