/* fuchsia.css */

:root {
    --note-height: 125px;
    --note-width: 150px;
    --selection-colour: yellow;
}

body {
    font-family: Inter, 'Helvetica Neue', Lucida Grande, sans-serif;
    margin: 20pt;
}
 
label, input[type="button"], input[type="submit"], input[type="image"], button { 
    cursor: pointer; 
}

.title {
	font-size: 150%;
	color: #fff;
	background-color: #939;
	font-weight: bold;
	padding: 0px 5px;
	margin: 0px 10px 0 0;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);	
    border-radius: 2px;
}

#buttons button {
    margin: 0 5px 0 0;
    padding: 4px 8px;
    border: 1px solid #888;
    border-radius: 2px;
}

button:hover {
    background-color: var(--selection-colour);
}

.note {
	font-family: Inter, Helvetica Neue, Helvetica, Trebuchet MS, sans-serif;
	font-size: 80%;
    height: var(--note-height);
    width: var(--note-width);
    padding: 10px;
    position: absolute;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    z-index: auto;
}

.edit {
    display: inline-block;
    height: calc(var(--note-height) - 10px);
    width: var(--note-width);
    overflow: auto;
}

.note:hover .deleteButton,
.note:hover .colourButton {
    display: block;
}
 
.deleteButton {
    display: none;
    background-image: url(../images/deleteButton.png);
    height: 30px;
    position: absolute;
    left: -15px;
    top: -15px;
    width: 30px;
}
 
.deleteButton:active {
    background-image: url(../images/deleteButtonPressed.png);
}

.colourButton {
    display: none;
    background-image: url(../images/colours.png);
	height: 24px;
	width: 24px;
	position: absolute;
	left: 5px;
	bottom: 5px;
    border: none;
}

.edit {
    outline: none;
}
 
.timestamp {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-size: 9px;
    background-color: #db0;
    color: white;
    border-top: 1px solid #a80;
    padding: 2px 4px;
    text-align: right;
}

dialog {
    background-color: #eeeeff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    min-height: 250px;
    max-height: 500px;
    min-width: 250px;
    max-width: 400px;
    overflow: auto;
}

/* The End */